<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>第四週主線任務 - Vue 與 API 串接</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body style="background-color: #fff4e6;">
  <div id="app" class="container my-3 ">

    <div class="text-center my-4" v-if="isLogin">
      <button
        type="button"
        class="btn btn-primary"
        @click="getProdData()"
      >
        取得商品列表
      </button>
      <button
        type="button"
        class="btn btn-outline-danger"
        @click="signOut"
      >
        登出
      </button>
    </div>

    <login
      v-else
      :apiurl="api"
      @logged= "isLoginHandler"
    ></login>

    <!-- 商品列表 -->
    <div class="row" id="prodWrap">
      <table class="table my-4 bg-light table-hover shadow-sm" v-show="products">
        <thead class="thead-dark">
          <tr>
            <th>順序</th>
            <th>分類</th>
            <th>產品名稱</th>
            <th>產品照片</th>
            <th>原價</th>
            <th>售價</th>
            <th>是否啟用</th>
            <th>編輯</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in products" :key="item.id">
            <td>{{index + 1}}</td>
            <td>{{item.category}}</td>
            <td>{{item.title}}</td>
            <td><img :src="item.imageUrl" :alt="item.title" :title="item.title" style="width: 80px;"></td>
            <td>{{item.origin_price}}</td>
            <td>{{item.price}}</td>
            <td>
              <span class="badge badge-pill badge-success" v-if="item.is_enabled">啟用</span>
              <span class="badge badge-pill badge-danger" v-else>未啟用</span>
            </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-outline-primary" @click="openModal('edit', item)">編輯</button>
                <button type="button" class="btn btn-outline-danger" @click="openModal('delete', item)">刪除</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 分頁 -->
    <pagination
      :pages-data="pages"
      @update="getProdData"
    ></pagination>

    <!-- loading mask -->
    <div class="modal fade" ref="loadingMask" id="loadingMask" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
        <div class="spinner-border text-light" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script/all.js" type="module"></script>
</body>
</html>

編號：xxx
作業連結：https....

製作前的拆解：
- 登入：
1. 取得使用者輸入的帳密輸入
2. API 驗證身分，取回 token, uuid，存入 cookie
- 取得商品列表，
1. 從 cookie 取出 uuid，組合 API 網址，取回商品列表
- 登出，清除 cookie 中的 token, uuid

- 表單欄位與data綁定(v-model)
- 定出應該會需要的用的方法(methods)：
1. signIn：取得輸入的帳密(簡單判斷是否為空值)，送出 API 取回 token, uuid，儲存至 data 與 cookie 中。
2. signOut：清空data儲存的 token, uuid，和 cookie 裡的 token, uuid
3. getProdData：用前台取得所有商品列表的方式，取得商品資料。



製作後重新調整的拆解：
- 一開始沒有規劃 API 讀取時的空檔時間該如何顯示，上我在反覆測試時多往往不知道是資料還沒回來還是錯誤了。所以之後添加 showLoadingMask, hideLoadingMask 兩個方法來協助知道 API 回傳與否。
1. showLoadingMask：顯示API讀取時的遮罩。
2. hideLoadingMask：隱藏API讀取時的遮罩。

拆解心得：


